/* 麵包屑 */
.top-nav a:first-child {
  color: #ff7300;
}
/* 麵包屑 */

/* 首頁大圖 */
#home_for_mobile {
  display: none;
}

/* 內容 */
main {
  margin: 0 auto;
}

main ul {
  display: flex;
  flex-direction: column;
  max-width: 1602px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

main li {
  display: flex;
  justify-content: space-between;
  background-color: #4d4d4d;
  margin: auto;
  margin-bottom: 80px;
  overflow: hidden;
  box-shadow: 2px 2px rgb(0 0 0 / 50%);
}

main li:last-child {
  margin-bottom: 0;
}

.banner div {
  position: relative;
  padding: 33px 53px;
}

.banner h3 {
  line-height: 2;
}

.banner p {
  overflow: hidden;
}

.banner a {
  display: block;
  width: 180px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #ff7300; */
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.banner img {
  height: 100%;
  margin: 0 auto;
}

/* 訂閱欄 */

aside {
  background-image: url("../img/home_img/contact_bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 460px;
}

aside h1 {
  margin-top: 96px;
}

aside h2 {
  margin-top: 37px;
}

aside .submit {
  margin-top: 59px;
}

aside input {
  font-size: 1.2rem;
  height: 36px;
  line-height: 1;
  outline: none;
  border: none;
  padding: 0 20px;
}

aside .email {
  width: 260px;
}

aside .email::placeholder {
  color: #ccc;
  text-align: center;
}

aside .send {
  width: 80px;
  margin-left: 27px;
  background-color: #ff7300;
  color: white;
}

aside .send:hover {
  background-color: white;
  color: #ff7300;
}
